html,body {
    height: 100%;
    font-family: 'Bungee', cursive;
}

body {
    background-image: url("../images/backdrop.gif");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#ui-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
}

#overlay {
    position: fixed;
    visibility: hidden;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: black;
    opacity: 0.25;
}

.health {
    position: absolute;
    top: 10px;
    height: 90px;
    width: 300px;
    background-color: rgba(245, 245, 220, 0.3);
    border: 2px solid white;
}

#player-health {
    left: 20px;
}

#enemy-health {
    right: 20px;
    transform: scaleX(-1);
}

#enemy-health p {
    transform: scaleX(-1);
}

.health-bar-background {
    position: absolute;
    right: 2%;
    bottom: 10%;
    height: 15%;
    width: 75%;
    background-color: red;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}

.health-bar-background p {
    position: absolute;
    left: 35%;
}

.health-bar {
    height: 100%;
    width: 75%;
    background-color: green;
    border-radius: 30px;
}

#swap-enemy {
    position: fixed;
    right: 20px;
    top: 125px;
    width: 100px;
    background-color: rgba(220, 241, 245, 0.5);
    border: 2px solid white;
    text-align: center;
}

#swap-enemy p {
    margin: 5px 0;
}

.swapper {
    width: 100%;
    height: 90px;
    border: 1px solid white;
    transform: scaleX(-1);
    background-size: 300%;
    background-position: 20% -15%;
    background-repeat: no-repeat;
}

.swapper:hover {
    border-color: green;
    box-shadow: 0px 2px 0px 2px green inset;
}

#troll_1 {
    background-image: url("../images/troll_1/Idle_000.png");   
}

#troll_2 {
    background-image: url("../images/troll_2/Idle_000.png");
}

#troll_3 {
    background-image: url("../images/troll_3/Idle_000.png");
}

.char-holder {
    position: fixed;
    width: 100vh;
    height: 100%;
    bottom: -20%;
}

.char {
    position: absolute;
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
}