html,body {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("../images/backdrop.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    position: absolute;
    /* padding-right: 65%; */
    height: 65%;
    display: block;
    bottom: 0;
}