html,body {
    height: 100%;
}

body {
    background-image: url("../images/backdrop.gif");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.char {
    position: fixed;
    width: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    bottom: -20%;
}